# Ambiente
NODE_ENV=development
PORT=3001

# JWT
JWT_SECRET=sua_chave_secreta_muito_forte_aqui_minimo_32_chars
JWT_EXPIRES_IN=24h

# MongoDB (NoSQL) - Carros, Motos, Marcas de Roupa
MONGO_URI=mongodb://mongo:27017/api_db

# PostgreSQL (SQL) - Usuários
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=api_users
POSTGRES_USER=pguser
POSTGRES_PASSWORD=pgpassword
